[Unit]
Description=Start dropbox daemon
After=network.target

[Service]
Type=forking
User=rbowden
Group=rbowden
Alias=dropboxd
ExecStart=/home/rbowden/bin/dropbox start
ExecStop=/home/rbowden/bin/dropbox stop
PIDFile=/home/rbowden/.dropbox/dropbox.pid
# this is necessary so that the Ssh directory (with key files) can't be accessed
UMask=0066

[Install]
WantedBy=multi-user.target
