[Unit]
Description=Start tmux in detached session

[Service]
Type=forking
User=rbowden
ExecStart=/usr/bin/tmux new-session -d '/home/rbowden/.tmux/plugins/tmux-resurrect/scripts/restore.sh'

[Install]
WantedBy=multi-user.target
